# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = basic.wad
doom_map = map01

# Rewards
living_reward = -1

# Rendering options
# Possible screen resolutions:
# RES_160X120, RES_200X125, RES_320X200, RES_400X225, RES_640X400, RES_800X600, RES_1024X768, RES_1280X720, RES_1920X1080
screen_resolution = RES_1024X768
screen_format = CRCGCB
render_hud = true
render_crosshair = false
render_weapon = true
render_decals = false
render_particles = false
depth_buffer_enabled = true
window_visible = true

# Make episodes start after 20 tics (after unholstering the gun)
episode_start_time = 14

# Make episodes finish after 300 actions (tics)
episode_timeout = 300

# Available buttons (discrete only)
# continuous actions: LOOK_UP_DOWN_DELTA, TURN_LEFT_RIGHT_DELTA, MOVE_FORWARD_BACKWARD_DELTA, MOVE_LEFT_RIGHT_DELTA, MOVE_UP_DOWN_DELTA
available_buttons =
    {
        MOVE_LEFT
        MOVE_RIGHT
        MOVE_FORWARD
        MOVE_BACKWARD
        MOVE_LEFT_RIGHT
        MOVE_UP_DOWN
        
        TURN_LEFT
        TURN_RIGHT

        JUMP
        CROUCH
        LOOK_UP
        LOOK_DOWN

        #SELECT_WEAPON0
        #SELECT_WEAPON1
        #SELECT_NEXT_WEAPON
        #SELECT_PREV_WEAPON

        ATTACK
    }

# Game variables that will be in the state
# HEALTH, ARMOR, DEAD, ON_GROUND,
# POSITION_X, POSITION_Y, POSITION_Z, ANGLE, PITCH, ROLL, VELOCITY_X, VELOCITY_Y, VELOCITY_Z,
# SELECTED_WEAPON, AMMO0-9, WEAPON0-9 AMMO0-9,
# KILLCOUNT, ITEMCOUNT, SECRETCOUNT, FRAGCOUNT, DEATHCOUNT, HITCOUNT, HITS_TAKEN, DAMAGECOUNT, DAMAGE_TAKEN
# TIC, PLAYER_NUMBER
available_game_variables = {
    HEALTH
    AMMO2
    POSITION_X
    POSITION_Y
    VELOCITY_X
    VELOCITY_Y    
}

mode = PLAYER
doom_skill = 5